DATABASE_URL=postgresql+asyncpg://user:pass@host/db_name
DATABASE_HOST=host
DATABASE_PORT=5432
DATABASE_NAME=db_name
DATABASE_USER=user
DATABASE_PASSWORD=pass
FRONTEND_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK=whsec_...